<nav class="navbar navbar-inverse top-nav">
  	<div class="navbar-brand">
		MEAN CMS
	</div>
	<form action="/app/search" method="post" class="navbar-form navbar-right" role="search">
		<div class="form-group">
			<input type="text" name="search" class="form-control" placeholder="Search...">
		</div>
	</form>
</nav>