.percentage{
	font-size: 18px;
	position:relative;	
	margin:20px auto;
}
.chart-label{
	position: absolute;
	top: 25%;
    left: 51%;
    width: 60px;
    margin-left: -30px;
    line-height: 70px;
}
sup{
	top: -0.2em;
}
