<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

	<% include ../partials/header %>


	<h1 class="page-header">
            Dashboard
    </h1>
	
	<div class="row placeholders">
		<div class="col-xs-6 col-sm-3 placeholder text-center">
			<img src="//placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
			<h4>Users</h4>
			<span class="text-muted"><%= totalUsers %></span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder text-center">
			<img src="//placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
			<h4>Pages</h4>
			<span class="text-muted"><%= totalPages %></span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder text-center">
			<img src="//placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
			<h4>Posts</h4>
			<span class="text-muted"><%= totalPosts %></span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder text-center">
			<img src="//placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
			<h4>Label</h4>
			<span class="text-muted">Something else</span>
		</div>
	</div>

	<hr>


	<% include ../partials/footer %>
    
</body>
</html>