<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
	<link rel="stylesheet" href="/css/chart.css">
</head>

	<% include ../partials/header %>
	
	<div class="row">
		<h1 class="page-header">
				Dashboard
		</h1>
		<div class="col-xs-6 col-sm-3 placeholder text-center">
			<div class="chart">
				<div class="percentage" data-percent="<%= totalUsers %>">
					<div class="chart-label">
						<span></span><sup></sup>
						<div class="chart-label">Users</div>
					</div>
				</div>
			</div>
		</div>
		
		<% pages.forEach(function(page){ %>
			<div class="col-xs-6 col-sm-3 placeholder text-center">
				<div class="chart">
					<div class="percentage" data-percent="<%= page.total %>">
						<div class="chart-label">
							<span></span><sup></sup>
							<div class="chart-label"><%= page._id %> <%= page.total > 1 ? "'s" : '' %></div>
						</div>
					</div>

				</div>
			</div>
		<% }) %>
		
		
	</div>


	<% include ../partials/footer %>
	<script src="http://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>
    
</body>
</html>