<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

	<% include ../partials/header %>
	
	<div class="row">
		<div class="col-md-4">
			<h1 class="page-header">
				Add  Filter 
			</h1>
			<form action="/app/filters/new" method="post">
				<label for="">Name</label>
				<input type="text" name="name" class="form-control">
				<label for="">Nice Name</label>
				<input type="text" name="niceName" class="form-control">
				<br>
				<input type="submit" value="Add" class="btn btn-primary form-control">
			</form>
		</div>
		<div class="col-md-4">
			<h1 class="page-header">
				Update Filter 
			</h1>
			<form action="/app/filters/update" method="post">
				<label for="">Name</label>
				<select name="name" id="" class="form-control">
					<option value=""></option>
					<% types.forEach(function(type){ %>
						<option value="<%= type %>"><%= type %></option>
					<% }) %>
				</select>
				<label for="">Nice Name</label>
				<input type="text" name="niceName" class="form-control">
				<br>
				<input type="submit" value="Update" class="btn btn-primary form-control">
			</form>
		</div>
		<div class="col-md-4">
			<h1 class="page-header">
				Delete Filter 
			</h1>
			<form action="/app/filters/delete" method="post">
				<label for="">Name</label>
				<select name="name" id="" class="form-control">
					<option value=""></option>
					<% types.forEach(function(type){ %>
						<option value="<%= type %>"><%= type %></option>
					<% }) %>
				</select>
				<br>
				<input type="submit" value="Delete" class="btn btn-danger form-control">
			</form>
		</div>
	</div>
	
	
	<% include ../partials/footer %>
    
</body>
</html>