<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

	<% include ../partials/header %>
	 
	<div class="row">
			
		<h1 class="page-header">
			Media Library
			<a href="/app/media/new" class="pull-right btn btn-primary btn-lg">
				<span class="glyphicon glyphicon-plus"></span>
				Add New
			</a>
		</h1>
			<div class="row">
				<% images.forEach(function(img){ %>
					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 image-thumbnail">
						<a href="/app/media/<%= img %>" class="thumbnail">
							<img src="/uploads/<%= img %>"/>
						</a>
					</div>
				<% }) %>
			</div>
	</div>
	
	<% include ../partials/footer %>
    
</body>
</html>