<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

	<% include ../partials/header %>
	 
	<div class="row">
		<div class="col-md-10">
			<h1 class="page-header">
				<%= page.pageName %>
			</h1>
			<p>
				<%- page.pageContent %>
			</p>
		</div>
	</div>
	
	<% include ../partials/footer %>
    
</body>
</html>